h1.neon {
  animation: flicker 1.5s infinite alternate;
  color: #ffffff;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #24c0fd,
      0 0 11px #24c0fd,
      0 0 19px #24c0fd,
      0 0 40px #24c0fd,
      0 0 80px #2194f1,
      0 0 90px #2194f1,
      0 0 100px #2194f1,
      0 0 150px #2194f1;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

